*{
    font-family: 'roboto';
    margin: 0;
    padding: 0;
}

body > *{
    padding: 10px 150px;
}

/* increasing the size from 24px to 36 */

.logo{
    font-size: 36px;
    color: #f9faf8;
}

/* increasing the size from 18px to 25px */
.header{
    color: #e5e7eb;
    font-size: 25px;
}

.header, .section1, .footer{
    background-color: #1f2937;
    display: flex;        
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.title1{
    font: 900 48px 'roboto';
    color: #f9faf8;
    margin: 20px 0;

}

.body1{
    font-size: 18px;
    color: #e5e7eb;
    max-width: 90%; 
}

.fbutton{
    background-color: #3882f6;
    padding: 5px;
    color: #f9faf8;
    width: 100px;
    margin: 20px 0;
    font: 900 sans-serif;
    border: none;
    border-radius: 5px;
}

ul{
    display: flex;
    list-style: none;
    gap: 10px
}

li{
    color: #f9faf8;
}

.ps5display{
    max-width: 55%;
    height: auto;
    margin: 100px 0;
    border: 2px solid #f9faf8;
}

.title2{
    font: 900 36px 'roboto';
    color: #1f2937;
    text-align: center;
    margin: 30px;
}

.games-highlight{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.game{
    display: flex;
    flex-direction: column;
    max-width: 25%;
}

.gpic{
    margin: 10px 20px;
    border-radius: 5px;
    border: 2px solid #3882f6;

}
figcaption{
    text-align: center;
    font-size: 18px;
    color: #1f2937;
    font-weight: 600;
}

.section3{
background-color: #E5E7EB;
padding: 150px;
font: italic 400 36px /1.5 serif;
color: #1f2937;
}

a{
    text-decoration: none;
    color: #0000EE;
}

.section3 p{
    text-align: end;
    font-weight: 900;
    margin: 30px 0;
}

.section4{
background-color: #3882f6;
margin: 150px 100px;
padding: 60px;
display: flex;
justify-content: space-between;
}

.section4L{
color: #f9faf8;
font: 900 21px Georgia;
}

.section4L p{
    font: 100 18px Georgia;
    margin: 5px 0;
    }

.sbutton{
    background-color: #3882f6;
    padding: 5px 20px;
    color: #f9faf8;
    width: 100px;
    height: 40px;
    align-self: center;
    font: 900 15px Georgia;
    border: 2px solid white;
    border-radius: 5px;
}

.footer{
    display: flex;
    color: white;
    padding: 50px;
    justify-content: center;
} 
