body{
    font-family: 'roboto';
    
}

/* .header{
    
}

.section-1{
    
}

.section-2{

}

.section-3{

}

.section-4{

}

.footer{
} */

/* style:
darkblue: background-color: #1f2937;
white: color: #f9faf8;
button > background-color: #3882f6;
quote > background-color: #e5e7eb;
*/
